html{
  background-color: #F1A3C5;
}

h1 {
  border-width: 5px;
  border-style: solid;
  padding: 10px;
  box-sizing: border-box;
  font-size: 50px;
}

  body {
  font-family: futura;
  color: #22313F;
  display: block;
  height: 350px;
  width: 700px;
  padding-left: 20px;
  font-size: 20px;
}

nav h1:hover {
  color: white;
}

a {
  color: #34495E;
}

p {
    column-count: 2;
    font-weight: 400;
}
