html{
  background-color: #F2EAD3;
}

h1 {
  border-width: 10px;
  border-style: solid;
  padding: 10px;
  box-sizing: border-box;
  font-size: 50px;
}

  body {
  font-family: futura;
  color: #71ADB5;
  display: block;
  height: 350px;
  width: 400px;
  padding-left: 20px;
  font-size: 20px;
}

nav h1:hover {
  color: white;
