html{
  background-color: white;
}

h1 {
    color: black;
    font-family: blenny, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    transition: all 500ms ease;
    margin-bottom: 0;
}

@media (max-device-width: 500px) and (orientation: portrait) {
  h1 {
    font-size: 85px;
    color: orange;
  }

  .img1 {
    margin-top: 60px;
  }

  .img2 {
    margin-top: 230px;
  }

  .text {
    margin-top: 580px;
    flex-wrap: wrap;
  }

  .lyrics-wrapper {
    text-align: center;
    width: 50%;
  }

  .lyrics {
    color: grey;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 80%;
  }
}

p {
  color: black;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  display: block;
  font-size: 25px;
  /* margin-right: 200px; */
  margin-left: 0;
  margin-top: 0;
}

h1:hover {
  color: orange;
}

.beach img {
  position: absolute;
}

.img1{
  margin-bottom: 50px;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 700px;
}

.img2{
  margin-bottom: 250px;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 700px;
  top: 545px;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: black;
}

/* nav song1:hover {
  color: #FFEFA1;
} */

#home{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: black;
  text-decoration: none;
  transition: all 500ms ease;
}

#home:hover{
  color: orange;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.beach {
  flex: 0 0 50%;
  width: 50%;
}

.text {
  flex: 0 0 50%;
  width: 50%;
}

.lyrics-wrapper {
  color: orange;
  /* text-align: center; */
  font-family: blenny, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200%;
  width: 100%;
  flex: 0 0 100%;
  text-align: center;
  margin-top: 150px;
}

.lyrics {
  color: grey;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 80%;
}


#title, #artist {
  font-family: futura;
  font-size: 100%;
  margin: 40px;
  border-radius: 5px;
}

#header {
  color: orange;
  text-align: center;
  font-family: blenny, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200%;
}

#lyric-submit {
  color: #686450;
  text-align: center;
  font-family: blenny, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 100%;
  border-radius: 5px;
}

#beach {
    position: absolute;
    z-index: 9;
    cursor: move;
    }




/* html{
  background-color: white;
}

h1 {
    color: black;
    font-family: blenny, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    transition: all 500ms ease;
}

body {
  color: black;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  display: block;
  font-size: 25px;
}

nav h1:hover {
  color: orange;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.images{
  display: block;
  flex: 0 0 30%;
}


.text{
  display: block;
  flex: 0 0 30%;
  margin-left: -400px;
}

.beat{
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: darkred;
}

nav a:hover {
  color: red;
}
/*
#home {
  font-size: 30px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

#body-columns {
  column-count: 2;
}

#text {
  padding-right: 250px;
  margin-left: 0;
}

.block {
	width: 600px;
	position: absolute;
	top: 0;
	left: 0;
} */
