h1 {
    color: #D8DFE2;
    font-family: futura;
    font-size: 150px;
    position: centered;
}

p, a {
    color: #34699A;
    font-family: futura;
    font-size: 30px;
}

nav a:hover {
  color: #7EA6F4;
}

nav #a1:hover {
  color: grey;
}

#a1 {
  font-size: 20px;
}
