h1 {
    color: #D6E6F2;
    font-family: blenny, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    transition: all 500ms ease;
    margin-bottom: 0;
}

h1:hover {
  color: #EB2A5D;
}

#home {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  color: grey;
  text-decoration: none;
  transition: all 500ms ease;
  padding-left: 30px;
}

#home:hover{
  color: #EB2A5D;
}

.theme {
  color: black;
  font-size: 50px;
  padding-bottom: 75px;
}

p:hover {
  color: white;
}

p {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: grey;
  text-align: center;
}
